# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

.settings/

# Executables
*.swf
*.air
*.ipa
*.apk


**/node_modules
yarn.lock
/.pnp
.pnp.js

# testing
/coverage

# production
**/build
**/dist
**/package-lock.json
